
body {
    /*background-color: white;*/
    font-family: 'Inter', sans-serif;
    --brand-color: #3FAAE6;
    --brand-light-color: #ECF7FC;
    --animation-time: 4s;
}

.wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    position: fixed;
    left: 0;
    top: 0;
    transform-style: preserve-3d;
    transform: rotateX(60deg) rotateZ(45deg);

}

.brand-element {
    fill: none; /*var(--brand-color);*/
    outline: white;
    outline-width: 1px;
    animation: movedown var(--animation-time)  infinite;
}

.sq-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;

    transform-style: preserve-3d;


}

@keyframes movedown {
    0% {
        margin-top: 0;

    }
    25% {
        margin-top: 250px;
        margin-left: 0;

    }
    45% {
        margin-left: 100px;
        margin-top: 250px;
        transform: rotate(0deg);
    }
    55% {
        margin-left: 100px;
        margin-top: 250px;
        transform: rotate(90deg);
    }
    72% {
        margin-top:0;
        margin-left:100px;
        transform: rotate(90deg);
    }
    95% {
        transform: rotate(90deg);
        margin-left:0;

    }
    100% {
        margin-left:0;
        transform: rotate(0deg);

    }
}


.sq {
    width: 60px;
    height: 60px;
  /*  background: var(--brand-color);*/
    border: solid white 1px;
    position: fixed;
   opacity: 0;
    animation: movedown var(--animation-time)  infinite;
}

.sq:nth-of-type(1) { animation-delay: 1s; }
.sq:nth-of-type(2) { animation-delay: 0.5s; }
.sq:nth-of-type(3) { animation-delay: 0.1s; }
.sq:nth-of-type(4) { animation-delay: 2s; }
.sq:nth-of-type(5) { animation-delay: 0.3s; }
.sq:nth-of-type(6) { animation-delay: 1s; }
.sq:nth-of-type(7) { animation-delay: 1.1s; }
.sq:nth-of-type(8) { animation-delay: 0.8s; }
.sq:nth-of-type(9) { animation-delay: 1.5s; }
.sq:nth-of-type(10) { animation-delay: 1s; }
.sq:nth-of-type(11) { animation-delay: 3s; }
.sq:nth-of-type(12) { animation-delay: 2.3s; }
.sq:nth-of-type(13) { animation-delay: 1.8s; }
.sq:nth-of-type(14) { animation-delay: 3s; }
.sq:nth-of-type(15) { animation-delay: 2.7s; }


.sq2hor {
    width: 120px;

}

.sq2vert {
    height:120px;
}


.heading, .logofestival{
    position: fixed;
    left:15%;
}
.heading {
    width: 600px;
    bottom:15%;
}

.headingtitle {
    font-size: 60px;
    font-weight: 800;
}
.headingdescr {
    font-size:26px;
    line-height: 1.4em;
    padding-top: 20px;
}

.logofestival {
    top: 15%;
    width: 100px;
}

.back-pattern {
    position: absolute;
    right: 0;
    bottom: 0;
}

.back-pattern-image {

    fill: var(--brand-light-color);
}

.rotate-90 {
    transform: rotateX(90deg);
}
.rotate-180 {
    transform: rotate(180deg);
}
.rotate-270 {
    transform: rotate(270deg);
}



.image-event {
    position: absolute;
    right:20%;
    top:15%;
}






