@import "../static-elements.scss";

$ani-dur: 44s;
$size: 40vw;

.cube {
  //  position: absolute;
  width: 1em;
  height: 1em;
  background: linear-gradient(135deg, $brand-color 60%, lighten($brand-color,10%) 100%);
  animation: move $ani-dur ease-in-out infinite;
  transform-style: preserve-3d;

  &::before,
  &::after {
    content: '';
    @include fill;
  }

  &::before {
    background: linear-gradient(0deg, darken($brand-color-dark, 20%) 0%, darken($brand-color, 20%) 100%);  //darken($brand-color, 20%);
    transform-origin: 100% 100%;
    transform: rotateY(-90deg);
    border-right: solid lighten($brand-color,20%) 2px;
  }

  &::after {
    background: linear-gradient(45deg, lighten($brand-color, 10%) 0%, lighten($brand-color, 15%) 100%); //lighten($brand-color, 20%);
    //  background: lighten($brand-color, 15%);
    transform-origin: 0 1em;
    transform: rotateX(90deg);
    border-right: solid lighten($brand-color,20%) 2px;
    border-bottom: solid lighten($brand-color,35%) 1px;
  }

}

.box {
  @include fill;
  width: 4em;
  height: 3em;
  top:-20vh;
  font-size: $size; //var(--sized);
  transform-style: preserve-3d;
  transform: rotateX(60deg) rotateZ(45deg);
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}


@for $i from 1 through 20 {
  .cube:nth-of-type(#{$i}) {
    animation-delay: $ani-dur * ($i / 20 - 20);
  }
}


@keyframes move {
  0%,
  100%  { transform: translate3d(0.01em, 1.01em, 0.9em); }
  12.5% { transform: translate3d(0.01em, 1.01em, 1.1em); }
  25%   { transform: translate3d(0.01em, 1.01em, 1.9em) scale3d(1,1,1); }
  37.5%,
  50%   { transform: translate3d(0.01em, 1.01em, 1.1em); }
  62.5% { transform: translate3d(0.03em, 1.01em, 0.06em) scale3d(1,1,1); }
  75%   { transform: translate3d(0.01em, 1.01em, 1.04em); }
  82%  { transform: translate3d(0.01em, 1.01em, 1.02em) scale3d(1,1,1);  }
}

@keyframes movte {
  0%,
  100%  { transform: translate3d(0.01em, 1.01em, 1.00em); }
  12.5% { transform: translate3d(0.01em, 1.01em, 1.00em); }
  25%   { transform: translate3d(0.01em, 1.01em, 2.04em) scale3d(1,0.5,1); }
  37.5%,
  50%   { transform: translate3d(0.01em, 1.01em, 1.06em); }
  62.5% { transform: translate3d(-1.03em, 1.01em, 1.06em) scale3d(0.5,0.8,1); }
  75%   { transform: translate3d(0.01em, 1.01em, 1.04em); }
  82%  { transform: translate3d(1.01em, 1.01em, 1.02em) scale3d(0.5,0.8,1);  }
}






