$size: 100px;

body {
background: #ff5766;

}

.rounded {
  width:$size*5;
  height: $size*2;
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  background: #59639d;
  border-radius: 100%;
  transform: rotate(-30deg);
  overflow: hidden;
}

.zrak {
width: $size*4;
height: $size*4;
  background: #eaeaea;
border-radius: 100%;
  position: absolute;
  right: -$size/3;
  top: $size/3;
  box-shadow: -50px 94px 134px 42px rgb(57, 10, 10), inset -50px -230px 200px rgba(115, 27, 27, 0.5);

}

.zrak-in {
  width: $size*2;
  height: $size/1.3;
  border-radius: 100%;
background: #4B5DA4;
  left: $size;
  top: $size/15;
  position: absolute;
//box-shadow: -3px -3px -3px red inset;
  overflow: hidden;
}

.zrak-in-white {
  width: $size*1;
  height: $size/3;
  border-radius: 100%;
  background: black;
  position: absolute;
  margin-right: -50%;
  margin-bottom: -50%;
  transform: translateY(-50%) translateX(-50%);
  left: 50%;
  top: 50%;
}

