body {
  background: #2b355e;
  font-family: "Inter", sans-serif;
  color: white;
  font-size: 1vw;
}

a {
  font-size: 1em;
  color: #99d2f2 !important;
}

.content {
  display: block;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.heading, .logofestival {
  position: fixed;
  left: 15%;
}

.heading {
  bottom: 15%;
}

.headingtitle {
  font-size: 4em;
  font-weight: 800;
}

.headingdescr {
  font-size: 1.3em;
  line-height: 1.4em;
  padding-top: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 50vw;
}
.headingdescr div {
  width: 30%;
  padding: 20px 0 20px 0;
  font-size: 1.1rem;
}
.headingdescr div:not(:last-of-type):not(:nth-last-of-type(2)) {
  border-bottom: dashed 1px white;
}
.headingdescr div:nth-of-type(2n) {
  width: 70%;
}

.description {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.avatar {
  padding-left: 20px;
  clip-path: url(#mask-7);
}

.logofestival {
  top: 15%;
  width: 200px;
}

.box {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 3em;
  height: 2em;
  top: -50vh;
  margin: 0;
  font-size: 40vw;
  transform-style: preserve-3d;
  transform: rotateX(60deg) rotateZ(45deg);
}

.container {
  position: fixed;
  left: 10px;
  top: 10px;
}
.container:last-of-type {
  animation: moveblock 66s ease-in-out infinite;
}
@keyframes moveblock {
  0%, 87.5%, 100% {
    transform: translate3d(0em, 0em, 0em);
  }
  12.5% {
    transform: translate3d(40em, 40em, 0em);
  }
  25% {
    transform: translate3d(0em, 40em, 0em);
  }
  37.5%, 50% {
    transform: translate3d(0em, -20em, 0em);
  }
  62.5% {
    transform: translate3d(40em, -20em, 0em);
  }
  75% {
    transform: translate3d(0em, 40em, 0em);
  }
}

.cube {
  width: 1em;
  height: 1em;
  background: linear-gradient(135deg, #3FAAE6 60%, #6cbeec 100%);
  animation: move 44s ease-in-out infinite;
  transform-style: preserve-3d;
}
.cube::before, .cube::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.cube::before {
  background: linear-gradient(0deg, #2b355e 0%, #1674a9 100%);
  transform-origin: 100% 100%;
  transform: rotateY(-90deg);
  border-right: solid #99d2f2 2px;
}
.cube::after {
  background: #83c8ef;
  transform-origin: 0 100%;
  transform: rotateX(90deg);
  border-right: solid #99d2f2 2px;
  border-bottom: solid #ddf0fb 1px;
}
.cube:nth-of-type(1) {
  animation-delay: -256.6666666667s;
}
.cube:nth-of-type(2) {
  animation-delay: -249.3333333333s;
}
.cube:nth-of-type(3) {
  animation-delay: -242s;
}
.cube:nth-of-type(4) {
  animation-delay: -234.6666666667s;
}
.cube:nth-of-type(5) {
  animation-delay: -227.3333333333s;
}
.cube:nth-of-type(6) {
  animation-delay: -220s;
}
@keyframes move {
  0%, 100% {
    transform: translate3d(1.01em, 0em, 0em);
  }
  12.5% {
    transform: translate3d(2.01em, 0em, 0.02em);
  }
  25% {
    transform: translate3d(2em, 1em, 0.04em);
  }
  37.5%, 50% {
    transform: translate3d(1.99em, 2.01em, 0.06em);
  }
  62.5% {
    transform: translate3d(0em, 2em, 0.06em);
  }
  75% {
    transform: translate3d(0em, 1em, 0.04em);
  }
  82% {
    transform: translate3d(1em, 1.01em, 0.02em);
  }
}

/*# sourceMappingURL=animations.css.map */
